<ol id="queries">
    {{range .Queries}}
    <li>
        ---
        <ul>
            <li>Company: {{.Company}}</li>
            <li>Department: {{.Department}}</li>
            <li>Keyword: {{.Keyword}}</li>
            <li>Time: {{.Duration}}</li>
            {{ if (ne .Error nil) }}
            <li>Error: {{.Error}}</li>
            {{ end }}
            {{ if (eq .Status "running") }}
                <li><button hx-post="/cancel?id={{.ID}}" hx-trigger="click">Cancel</button></li>
            {{ else if (eq .Status "success") }}
                <li>{{.Results}}</li>
            {{ end }}
        </ul>
    </li>
    {{end}}
</ol>
